.timer{
    margin-top:60px;
    background: transparent;
    background-color: rgba(0, 0, 0,0.4);
    font-size:30px;
    text-align: center;
    box-sizing: content-box;
    padding:20px 20px 20px 20px;

}
.question{
    font-size:30px;
    text-align: center;
    padding-top: 50px;
    padding:20px 20px 20px 20px;
    background:rgba(0, 0, 0,0.6);
    border-width: 10px;
    border-color: aliceblue;
    border-radius: 100px;
    border-color: aliceblue;
    border-width: 4px;
    border-style: solid;
}
.answers{
    list-style: none;
    display: flex;
    margin-top: 40px;
}
.firstblock{
    flex:1;
}
.secondblock{
    flex:1;
}
.alpha{
    justify-content: flex-start;
    margin-left:-100px;
    margin-right: 80px;
    
}
.answer{
    font-size: 25px;
    margin-top: 30px;
    background:rgba(0, 0, 0,0.6);
    padding:10px 10px 10px 10px;
    text-align: center;
    max-width:350px;
    border-radius: 30px;
    border-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
}
.answer.active{
    background-color: rgb(235, 213, 84);
}
.answer.correct{
   animation: correct 5s ease forwards;
}
.answer.wrong{
    animation: wrong 5s ease forwards;
}

@keyframes correct {
    0%,22%,42%{
       background-color: rgb(235, 213, 84);
    }
    20%,40%,60%{
        background: linear-gradient(rgb(235, 213, 84),rgba(0, 0, 0,0.6));
    }
    62%,100%{
        background-color: rgb(55, 236, 55);
    }
}
@keyframes wrong {
    0%,22%,42%{
       background-color: rgb(235, 213, 84);
    }
    20%,40%,60%{
        background: linear-gradient(rgb(235, 213, 84),rgba(0, 0, 0,0.6));
    }
    62%,100%{
        background-color: rgb(219, 52, 52);
    }
}
